@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: '', sans-serif;
    font-weight: normal;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.contents {
    width: 100%;
    height: auto;
    margin: auto;
}

header {
    width: 100%;
    margin: auto;
    height: 63px;
}

.title {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.sub_title {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.main {
    width: 100%;
    height: auto;
}

.top_img {
    width: 100%;
    height: 690px;
    background-image: url("../images/top.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main .top_img .title {
    position: relative;
    color: #ffffff;
}

.main .top_img .sub_title {
    position: relative;
    color: #ffffff;
}

.introduce {
    width: 100%;
    height: auto;
    background: #D4AAAC;
}

.introduce .title {
    color: #ffffff;
    font-size: 28px;
}

.prof_image {
    width: 140px;
    height: auto;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

.prof_sentense {
    width: 500px;
    height: auto;
    margin: auto;
}

.work {
    width: 100%;
    height: auto;
    background: #ffffff;
}

.work .title {
    color: #000000;
    font-size: 28px;
}

footer {
    width: 100%;
    background-color: #69e0e7;
}

.footer p {
    width: 510px;
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
}


@media screen and (min-width: 1024px) and (max-width:1025px) {

    .main .top_img .title {
        top: 44%;
    }

    .main .top_img .sub_title {
        top: 51%;
    }
}


@media screen and (min-width: 769px) {

    html, body {
        font-size: 18px;
    }

    .sp_only {
        display: none;
    }

    .header {
    }

    .top_img .title {
        width: 585px;
        top: 44%;
        font-size: 48px;
        letter-spacing: 36px;
    }
    
    .top_img .sub_title {
        width: 353px;
        top: 51%;
        font-size: 28px;
        letter-spacing: 8px;
    }

    .introduce .title {
        width: 210px;
        padding-top: 100px;
        letter-spacing: 14px;
    }

    .work .title {
        width: 112px;
        padding-top: 100px;
        letter-spacing: 14px;
    }
    
}


@media screen and (max-width: 769px) {

    .pc_only {
        display: none;
    }

    .top_img {
        height: 690px;
        background-image: url("../images/top2.jpg");
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 768px) and (max-width:768px) {
    .top_img .title {
        width: 465px;
        top: 44%;
        font-size: 38px;
        letter-spacing: 29px;
    }

    .top_img .sub_title {
        width: 225px;
        top: 48%;
        font-size: 24px;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 480px) {

    .top_img .title {
        top: 40%;
        width: 267px;
        font-size: 44px;
    }

    .top_img .sub_title {
        top: 43%;
        width: 210px;
        font-size: 26px;
    }

}

@media screen and (min-width: 360px) and (max-width:411px) {
    .top_img {
        height: 690px;
        background-image: url("../images/top3.jpg");
        background-repeat: no-repeat;
    }

    .top_img .title {
        top: 34%;
    }

    .top_img .sub_title {
        top: 38%;
    }
}

@media screen and (min-width: 320px) and (max-width:359px) {
    .top_img {
        height: 690px;
        background-image: url("../images/top3.jpg");
        background-repeat: no-repeat;
    }

    .top_img .title {
        top: 28%;
    }

    .top_img .sub_title {
        top: 31%;
    }
}

